/*colori utilizzati #E9E9E9 bianco-grigio #222222 nero #8AC80B verde  #E0E0E0 un'altro bianco
utilizziamo em come misura
font bello inter tight*/
*{
    padding:0px;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #DDDDDD;
}
header{
    background-color: #222629;
    width: 100%;
    height:4.2em;
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
Header h1{
    color: #8AC80B;
    padding: 0.3em;
    font-size: 55px;
    display: block;
}
footer{
    background-color: #222222;
    width: 100%;
    height: 350px;
    color: #DDDDDD;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: #8AC80B;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-style: solid;
    padding: 0.5em;
    margin: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 3em;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0.5em;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 0.5empx;
}
.menu ul li a:link{
    text-decoration: none;
    padding: 10px;
}
.menu ul li a:visited{
    text-decoration: none;
    color:#8AC80B;
    padding: 10px;
   
}
.menu ul li a:hover{
    text-decoration: none;
    color:#8AC80B;
    padding: 10px;
   
}
.menu ul li a:active{
    text-decoration: none;
    padding: 10px;
}
audio{
    position: absolute;
    top: 8.6em;
    margin-left: 75%;
}
.flex-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2em;
}

.flex-box p{
    font-size: 1.3em;
    padding: 1em;
    width:800px;
}
.lista{
    margin-left: 5em;
    height: 290px;
}
.lista li{
    font-size: 1.3em;
}
.centro{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 3em;
}
.flex-box2{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
iframe{
    margin:1em;
}
.testo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-bottom: 4em;
}
h3{
    font-size: 2.5em;
    margin-left: 1em;
}
