/*colori utilizzati #E9E9E9 bianco-grigio #222222 nero #8AC80B verde  #E0E0E0 un'altro bianco
utilizziamo em come misura
font bello inter tight*/
body{
    background-color: #E9E9E9;
    font-family:'Times New Roman', Times, serif;
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu ul li{
    list-style:none;
    display: inline-block;
}
.menu ul li{
    text-decoration: none;
  
}
.menu ul li a{
    text-decoration: none;
}
h1{
    text-align: center;
    color: #E9E9E9;
}
header{
    background-color:  #222222;
}